<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All ToDo lists of User</title>
</head>
<body>

<h2 align="center">List of Tasks</h2>

<table border="1" align="center">
    <tr>
        <th>No.</th>
        <th>ID</th>
        <th>Title</th>
        <th>Created At</th>
        <th>Owner</th>
        <th colspan="2">Operations</th>
    </tr>


    <tr th:each="toDo ,i: ${todoList}">
        <td th:text="${i.index + 1}"></td>
        <td th:text="${toDo.id}"> id </td>
        <td th:text="${toDo.title}"> title </td>
        <td th:text="${toDo.createdAt}"> createdAt </td>
        <td th:text="${toDo.owner}"> owner </td>
        <td>
            <a th:href="@{|/todos/${toDo.id}/update/users/${user_id}|}" th:text="Edit"></a>
        </td>
        <td>
            <a th:href="@{|/todos/${toDo.id}/delete/users/${user_id}|}" th:text="Remove"></a>
        </td>
    </tr>

</table>
</body>
</html>
