<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update existing To-Do</title>
</head>
<body>

<div th:replace="header"></div>

<h2 align="center">Edit existing ToDo</h2>

<form th:action="@{|/todos/${todo_id}/update/users/${owner_id}|}" th:object="${toDo}" method="post">

    <table align="center">

        <tr>
            <td>
                <label for="id">Title: </label>
            </td>
            <td>
                <input type="number" id="id" name="id" th:field="*{id}" disabled/>
            </td>
        </tr>

        <tr>
            <td>
                <label for="title">Title: </label>
            </td>
            <td>
                <input type="text" id="title" name="title" th:field="*{title}" required/>
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Update">
            </td>
        </tr>
    </table>
</form>

<a th:href="@{|/todos/all/users/${owner_id}|}"> Go to ToDoLists</a>

</body>
</html>
